<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Restaurants</h2>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>

  <div class="row mt-3">
    <div class="col-md-4 mb-3" *ngFor="let restaurant of allRestaurentData">
      <div
        class="card h-100 shadow-sm"
        (click)="showDetails(restaurant)"
        style="cursor: pointer"
      >
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <h6>
             Email: {{ restaurant.email }}
          </h6>
          <h6>
             Phone: {{ restaurant.mobile }}
          </h6>
        </div>
      </div>
    </div>
  </div>

